extends layout.pug 

block content 
    div
        h1.about Important Information!

        p.about 
            a(href='https://intranet.wiut.uz/Uploads/LearningMaterialFiles/99/2146/Web%20Technology%20_%20Coursework%20_%20Semester%20-%202%20%20_%202020-21.pdf' target="_blank") This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service! 
