extends layout.pug 

block content 
    div.container 
        h1 Gallery

        each image in images 
            div.image-wraper
                h1.title title 1
                p.desc description 1
                a.image(href='#')= image 
                a.delete(href='#') delete
                a.edit(href='#') edit


