extends layout.pug 

block content 
    div.container 
        h1 Gallery

        if deleted 
            p.success Image deleted!

        each image in images 
            div.image-wraper
                a.image(href=`/gallery/${ images.id }`)  #{ image.title }
                a.delete(href=`/${ image.id }/delete`) delete
                a.edit(href='#') edit


