extends layout.pug 

block content 
    div.container 
        h1 Gallery

        each image in images 
            div.image-wraper
                a.image(href=`/gallery/${ images.id }`)  #{ image.title }
                a.delete(href='#') delete
                a.edit(href='#') edit


