extends layout.pug 

block content 
    div.container 
        h1 Gallery

        if deleted 
            p.success Image deleted!

        each image in images 
            div.image-wraper
                p.image #{ image.title }
                p.image #{ image.description }
                a.delete(href=`/${ image.id }/delete`) delete
                a.edit(href=`/&{ image.id }/edit`) edit


