extends layout.pug 

block content 
    div.container
        h1.main Any users can upload an image! 
        a.btn(href='/upload') Upload Image

    div.example.wrapper
        div.img1 
            p.overlay1 
            a(href='#') Stilling lectern
        div.img2
            p.overlay2 
            a(href='#') Bernie Sanders sitting
        div.img3
            p.overlay3 
            a(href='#') Prince Harry and Meghan Markle
        div.img4
            p.overlay4 
            a(href='#') Evergiven vessel