extends layout.pug 

block content 
    .container
    h1 Any users can upload an image! 
    a(href='/upload') Upload Image
    
    // TO DO !!!!!!!!!!!!!!!!!!
    .example
        .grid1 
            p.overlay1 Stilling lectern
        .grid2
            p.overlay2 Bernie Sanders sitting
        .grid3
            p.overlay3 Prince Harry and Meghan Markle
        .grid4
            p.overlay4 Evergiven vessel