:root {
    font-size: 20px;
    font-family: 'Garamond', serif;
    color: #000080;
    background-color: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Buttons */
.btn,
.delete, 
.edit,
.upload {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    background: #add8e6;
    border-color: #add8e6;
} 

/* Navigation */
.header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #fdfff5;
}

.nav a {
    display: inline-block;
    padding: 3px 8px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #880808;
}

/* Homepage */ 
.container,
.example {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.main {
    padding: 90px 0 50px 0;
    font-size: 2.5rem;
    max-width: 50%;
}

/* Examples of images  */
.img1,
.img2,
.img3,
.img4 {
    width: 450px;
    height: 450px;
    background-size:cover;
    background-position:center;
    margin: 5px;
    box-shadow: 5px 5px 10px #add8e6;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}

.img1 {
    background-image: url(https://d3i6fh83elv35t.cloudfront.net/static/2021/01/GettyImages-1294949346-1200x800.jpg);
}

.img2 {
    background-image: url(https://media.vanityfair.com/photos/60089789b8542426d4f095df/master/w_2560%2Cc_limit/BernieSanders-2021-GettyImages-1230690429.jpg);
}

.img3 {
    background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/223F/production/_117376780_harry.jpg);
}

.img4 {
    background-image: url(https://www.vesselfinder.com/images/media/20210324/16560-c23bc78e3c11cfb056d8bf9323633735.jpg);
}

/* Upload form  */
.form {
    max-width: 50%;
}

.input{
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    font-family: inherit;
    border: 1px solid #ccc; 
}

.add {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    background-color: red;
    font-size: 50px;
}

.error {
    display: inline-block;
    padding: 10px;
    border: 1px solid red;
    font-size: 1.3rem;
    color: red;
}

.success {
    display: inline-block;
    padding: 10px;
    border: 1px solid green;
    font-size: 1.3rem;
    color: green;
}

/* Gallery */
.image-wrapper {
    max-width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.image {
    font-size: 1.3rem;
}

/* About page */ 
.about {
    max-width: 1000px;
    padding: 10px;
    margin: auto;
    padding: 10px;
    display: flex;
    color: red;
    font-size: 50px;
    text-align: center;
    border: 3px solid red;
}

/* Footer */
.footer {
    position: fixed;
    width: 1000px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.back,
.copyright {
    text-align: center;
    font-family: inherit;
    font-size: 0.8rem;
}
